apiVersion: core.spinkube.dev/v1alpha1
kind: SpinApp
metadata:
  name: order-service
  namespace: wasm
spec:
  image: "myregistry:5050/spin-crm-order-service:latest"
  replicas: 1
  executor: containerd-shim-spin
  enableAutoscaling: false
  variables:
    - name: customer_service_url
      value: "http://customer-service.wasm.svc.cluster.local"
    - name: db_url
      value: "postgres://crm:crm@postgres.db.svc.cluster.local:5432/crm_wasm?sslmode=disable"
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 64Mi
